@use "settings" as *;
@use "mixin" as m;

body {
    font-family: $font;
}

img {
    max-width: 100%;
}

header, main {
    width: $width;
    max-width: $max-width;

    margin: 0;
    padding: 0;

    @if $center{
        margin: 0 auto;
    }
}

p {
    font-size: $textsize;
}

@for $i from 1 through length($header-sizes) {
    h#{$i} {
        font-size: nth($header-sizes, $i);
        color: $maincolor;
    }
}

.btn {
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;

    @include m.btnColors($maincolor, $secondcolor);

    &:active {
        scale: .85;
    }

    &.secondary {
        @include m.btnColors($secondcolor, $maincolor);
    }
    &.outline {
        @include m.btnColors($backgroundcolor, $maincolor);
        border: 1px solid $maincolor;
    }
    &.success {
        @include m.btnColors(rgb(30, 255, 0), #fff)
    }
    &.danger {
        @include m.btnColors(rgb(183, 20, 20), #fff)
    }
}

.rows {
    display: flex;
    flex-direction: row;
    gap: 10px;

    &.wrap {
        flex-wrap: wrap;
    }
    @for $i from 1 through 4 {
        &.width-#{$i} {
            .col {
                width: calc(100%/$i - 10px);
                box-sizing: border-box;
            }
        }
    }
}

body {
    margin: 0;
    padding: 0;
}
header, main {
    width: 100vw;
    max-width: 100vw;
    @if $center{
        margin: 0;
    }
}
header, section {
    width: 80vw;
    margin: 0 10vw;
}

section {
    margin-bottom: 50px;

    &.hero {
        background-color: $secondcolor;
        width: 100vw;
        margin: 0;
        padding: 5px calc((100vw - $width)/2);
        box-sizing: border-box;

        h1, h2, h3, p {
            text-align: center;
        }

        .rows {
            @for $i from 1 through 4 {
                &.width-#{$i} {
                    .col {
                        padding: 0 10px;
                    }
                }
            }
        }
    }

    &.overlay {
        position: absolute;
        // width: 80vw;
        margin: 0;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(255, 255, 255, .5);
        backdrop-filter: blur(2px);

        .popup {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            padding: 25px;
            border: 3px solid;
            border-color: $maincolor;
            border-radius: 5px;
            background-color: #fff;

            h1, h2, h3, h4 {
                text-align: center;
            }
            .btn {
                display: block;
                margin: 0 auto;
            }
        }
    }
}


nav {
    width: 100vw;
    padding: 15px 10vw;
    box-sizing: border-box;
    
    display: flex;
    flex-direction: row;
   
    div {
        height: fit-content;
        width: fit-content;
    }
    div p {
        cursor: pointer;
        height: fit-content;
        padding: 10px;
        margin: 0;

        &:hover {
            background-color: rgba(255, 255, 255, .5);
        }
    }
    .dropdown {
        display: flex;
        flex-direction: column;
        gap: 5px;
        
        .items {
            display: none;
            cursor: default;
            background-color: rgba(255, 255, 255, .5);
            padding: 5px;
            gap: 5px;
            flex-direction: column;

            p {
                border-left: none;
            }
        }
        &:hover {
            .items {
                display: flex;
                p {
                    background-color: transparent;
                    &:hover {
                        background-color: rgba(255, 255, 255, .75);
                    }
                }
            }
            p { // ha kvar hover effekten
                background-color: rgba(255, 255, 255, .5);
            }
        }
    }

    @if $nav-vertical {
        flex-direction: column;
        .dropdown {
            flex-direction: row;
        }
    }
    @else {
        div:not(:nth-child(1)) p {
            border-left: 1px rgba(255, 255, 255, .5) solid;
        }
    }
}