$maincolor: #ff0000;
$secondcolor: #0000ff;
$backgroundcolor: rgb(110, 110, 110);

$font: Arial, sans-serif;
$textsize: 14px;
$header-sizes: 48px, 27px, 25px, 18px;


$width: 80vw;
$max-width: 1000px;
$center: true;

$nav-vertical: false;